$btnPrimaryBackground: #e78406;
$btnPrimaryBackgroundHighlight: #ce7605;
$navbarBackground: #2c6fad;
$navbarBackgroundHighlight: #2c6fad;
$navbarLinkColor: white;
$navbarLinkColorHover: #e78406;
$navbarBrandColor: #e78406;


@import 'bootstrap';



body {
	padding-top: 60px;
	background-image: url('bg.png');
}

@import 'bootstrap-responsive';

.welcome img {margin-top: -25px;}

.footer {margin-right: 25px;}

.well {background-color: white;}

.navbar-inner {
	padding-top: 3px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 40px;
	border: 1px solid #999;
	
	background-image: linear-gradient(to bottom,#2c6fad, #225584);
	text-align: center;
	box-shadow: 0 1px 10px rgba(0,0,0,0.4);
}

.test {
	padding: 30px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
	background-color: white;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;

}

.footer {
	margin-top: 50px;
	margin-left: 25px;
	color: #6666FF;
	a {
		color: $gray;
	}
}

/* Required for jQuery Masonry */

.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.description {
	margin: 10px 0 5px;
}